<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/stylesheet.css">
</head>
<body>      
        <div class="Container" id="Container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <button type="submit" class="Button1">Login</button>
          <label>
            <input type="checkbox" name="remember"> Remember me
          </label>
        </div> 
      
        <div class="Container" id="Container">
          <button type="button" class="cancelbtn" onclick="location.href='index.html'">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
</body>
</html>